@model IEnumerable<PC_FORUM.Models.Category>

<h2>Категории</h2>
<div class="d-grid gap-2">
    @foreach (var category in Model)
    {
        <button class="btn btn-lg btn-primary" type="button"><a asp-controller="Topic" asp-action="Index" asp-route-id="@category.Id">@category.Name</a></button>
    }
</div>